<% layout("/layouts/boilerplate")%>   <!-- includes the common template code for every page -->
   <h3>All Listings</h3>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">  <!-- for medium 2 card ,large size screen3 card to be seen in inscept -->
      <% for(let listing of  alllistings){%>
        <a href="/listings/<%= listing._id %>" class="listing-link">  <!--  for directing in show page -->
         <div class="card col">
            <img src="<%= listing.image%>" class="card-img-top" alt="listing_img" style="height: 20rem;">
            <div class="card-img-overlay"></div>  <!--  to display upon card -->
            <div class="card-body">
              <p class="card-text">
               <b><%= listing.title %></b>
               <br>
               &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
            </p>
            </div>
          </div>
         </a>
          <% }%>
   </div>
   
   <!-- <form method="GET" action="/listings/new">
    <button>Create New Listiing </button>
   </form> -->
